version: "3.7"

services:
  go-web-practice-service:
    image: go-web-practice:latest
    build:
      context: ..
      dockerfile: build/package/dockerfile
    container_name: go-web-practice-service
    restart: always
    volumes:
      - go-web-practice-volume:/go-web-practice
    ports:
      - "8000:8000"
volumes:
  go-web-practice-volume:
    name: "go-web-volume"