<html>
<head>
    <link rel="icon" href="/web/img/favicon.ico" type="image/x-icon" />
</head>
<body>
<center>
    <div><h1>{{ .title }}</h1></div>
    <div><image src="/web/img/{{ .image }}"></image></div>
</center>
</body>
<script></script>
</html>