<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>GoWebPractic</title>
    <link rel="icon" href="/web/img/favicon.ico" type="image/x-icon" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/html5shiv@3.7.3/dist/html5shiv.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/respond.js@1.4.2/dest/respond.min.js"></script>
</head>

<body>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <center>
                <image src="/web/img/golang.png"></image>
            </center>
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6 column">
            <div class="jumbotron">
                <h1>
                    Go 的诞生
                </h1>
                <p>
                    Go 诞生于 Google。Google 工程师基于当时 IT 世界的一些痛点进行考虑：
                </p><p>
                    语言学习成本高，如 C++；语言可读性差，难以直接的体现设计目的；
                    编译速度慢； 缺乏类型检查，如 python，常常导致一些低级错误；
                </p><p>
                    又考虑了近期 IT 技术的发展趋势:
                    计算机硬件发展迅速，多核并发称为趋势；
                    语言庞杂，性能与开发速度难以调和；等。
                </p>
                <p>基于这些，开发了 Go 语言。</p>
            </div>
        </div>
        <div class="col-md-6 column">
            <div class="jumbotron">
                <h1>
                    Go 的特点
                </h1>
                <p>
                    Go 语言既能保证有静态语言的安全性与高性能，又能保证有动态语言的开发速度与可维护性。前者的特性类似于 C，而后者的特性类似于 Python
                    因此也有人生动形象的说：Go = C + Python。
                </p>
                <p>
                    Go 语言原生的库非常的强大与实用，例如本项目就是原生库开发。
                    而相比 Java 要开发一个较为完整的 Web 应用，可能就要上 Spring 全家桶了。
                </p>
                <p>
                    Go 设计了一种称为 "协程 (goroutine)" 的并发单位，其比线程更轻量，能够更低资源消耗的情况下更充分的并发。
                </p>
            </div>
        </div>
    </div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>